.coverage
amazon-qldb-driver-nodejs/.nyc_output/*
amazon-qldb-driver-nodejs/node_modules/*
amazon-qldb-driver-nodejs/coverage/*
amazon-qldb-driver-nodejs/dist/*
amazon-qldb-driver-nodejs/src/**/*.js
package-lock.json
