java/.classpath
java/.project
java/.settings
java/**/target
java/**/*.iml
java/jackson-dataformats-binary/
node/**/node_modules/*
node/**/out/*
node/*/src/**/*.js
python/*/build/*
python/*/dist/*
python/*/*/build/*
python/*/pyqldb.egg-info/*
python/*/pyqldbsamples.egg-info/*

*.pyc
__pycache__
venv/
.idea/
.vscode
package-lock.json
node/nodeqldb/.nyc_output/*
node/nodeqldb/coverage/*
aws-sdk.tar
.coverage
MultiThreadStressTest.log
